body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:#efefef !important;
  font-family: 'Poppins', sans-serif !important;
  /*background: url("./assets/images/login-background.png") center center / cover !important;*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sidebar {
  background: #233237;
}

.sidebar__image {
  width: 40px;
}

.sidebar__title {
  color: #ECD444;
}

.user__image {
  width: 60px;
}

.user__name {
  font-size: 20px;
}

.user__rank {
  font-size: 15px;
}

.pack-title {
  font-size: 20px;
}

.problem__title {
  font-size: 20px;
}

.news-wrap {
  max-height: 350px;
  overflow-y: scroll;
}

.news-author {
  font-size: 14px;
  color: #EFA36A;
}

.form__title {
  font-size: 32px;
}

.form__subtitle {
  font-size: 24px;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #233237;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #233237 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*  New Design  */

.bg-white-custom {
  background: #FCEFF9 !important;
}

.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}


.login-wrap__form-wrap img{
  top: 6px;
  left: 14px;
}

.login-wrap__form-title {
  font-size: 24px;
  color: #785964;
}

.login-wrap__form-wrap input {
  background: #F4F3EE !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.login-wrap__form-button {
  background: #A7333F !important;
}

.login-wrap__blog-title {
  text-decoration: underline;
  font-size: 24px;
  font-style: normal;
}

.login-wrap__card {
  max-height: 187px;
}

.login-wrap__card-wrap {
  background: #A7333F;
}

.login-wrap__card-title {
  font-size: 24px;
}
.Passed {
  color: green;
}

.Failed {
  color: red;
}

.Time-limit-exceeded {
  color: yellow;
}
